<header class="sticky-top">
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand mx-4">Pets Book</a>
        <div class="mx-4" *ngIf="user$ | async as user">
            <div *ngIf="user.name; else login">
                <i class="fa fa-user-circle"></i>
                <a class="link-dark mx-2">{{ user.name }}</a>
                <a (click)="logout()">Logout</a>
            </div>
        </div>
    </nav>

    <ng-template #login>
        <span class="navbar-text">
            <a [routerLink]="['']">Login</a>
        </span>
    </ng-template>

</header>
